@use './fonts' as *;

$tablet: 700px;
$desktop: 1600px;
$mobile: 450px;

html {

    // Tablet and Desktop View

    @media (width < $desktop) and (width > $tablet-font-size) {
        font-size: $tablet-font-size;

        .blogs {
            grid-template-columns: repeat(2, 1fr);
            // row-gap: 70px;
        }

    }

    // Mobile (Small and Large Views)

    @media (width > $mobile) and (width < $tablet){
        font-size: $mobileL-font-size;
        .blogs {
            grid-template-columns: 1fr;
        }
    }

    @media (width < $mobile) {
        font-size: $mobileS-font-size;

        .blogs{
            grid-template-columns: 1fr;
        }

        .nav {
            flex-direction: column;
            &--elements {
                padding: 0;
            }
        }

        .pages {
            max-width: 60%;
            text-align: center;
            h4 {
                &:nth-child(3n) {
                    width: 100%;
                }
            }
        }
    }
}